<div role="banner">
  <div>
    logo
    <nav role="navigation">
      <ul class="navbar">
        <li><%= link_to "Accueil", "/"  %></li>
        <li><%= link_to "Qui suis-je", "/qui_suis_je"  %></li>
        <li><%= link_to "Mes livres", "/mes_livres"  %></li>
        <li><%= link_to "Achat de livres", "/achat_de_livres"  %></li>
        <li><%= link_to "Autres services", "/autres_services"  %></li>
        <li><a href="#contact">Contact</a>
        <li><%= link_to "Conditions générales", "/conditions_generales"  %></li>
      </ul>
    </nav>
  </div>
</div>
