
<!--     logo
    <nav role="navigation">
      <ul class="navbar">
        <li><%= link_to "Accueil", "/"  %></li>
        <li><%= link_to "Qui suis-je", "/qui_suis_je"  %></li>
        <li><%= link_to "Mes livres", "/mes_livres"  %></li>
        <li><%= link_to "Achat de livres", "/achat_de_livres"  %></li>
        <li><%= link_to "Autres services", "/autres_services"  %></li>
        <li><a href="#contact">Contact</a>
        <li><%= link_to "Conditions générales", "/conditions_generales"  %></li>
      </ul>
    </nav> -->

<div >
  <nav role="navigation" class="primary-navigation">
    <ul >
      <li class="menu__group"><a href="/" class="menu__link r-link text-underlined">Accueil</a></li>
      <li class="menu__group"><a href="/qui_suis_je" class="menu__link r-link text-underlined">Qui suis-je</a></li>
      <li class="menu__group"><a href="/mes_livres" class="menu__link r-link text-underlined">Mes livres</a></li>
      <li class="menu__group"><a href="/achat_de_livres" class="menu__link r-link text-underlined">Achat de livres</a></li>
      <li class="menu__group"><a href="/autres_services" class="menu__link r-link text-underlined">Autres services</a></li>
      <li class="menu__group"><a href="#contact" class="menu__link r-link text-underlined">Contact</a></li>
      <li class="menu__group"><a href="/conditions_generales" class="menu__link r-link text-underlined">Conditions générales</a></li>
    </ul>
  </nav>
